body{
	font-family: 'Roboto', sans-serif;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

h3{
	margin: 15px 0 15px 0;
}

/** upper contact bar **/

#ucbar{
	padding: .1% 0 .1% 0;
	background: url("./media/ucbar-bg1.png") fixed repeat;
}
#ucbar .lef ul{
	margin: 7px 0 0 0;
}

#ucbar .lef ul li{
	display: inline;
	list-style-type: none;
	margin: 0 10px 0 0;
}

#ucbar .lef ul li i{
	color: #1889c1;
}

#ucbar .lef ul li i span{
	margin: 0 0 0 5px;
	letter-spacing: 1px;
	font-size: 12px;
	color: white;
}


#ucbar .righ a.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 36px;
  height: 36px;
  font-size: 0;
  text-indent: -9999px;
  float: right;
  margin-left: 4px;
  border: 1px solid #1889c1;
}


#ucbar .righ a.icon-mono {
  background-image: url("./media/icons1.svg"), none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

/* facebook */
#ucbar .righ a.icon-mono.facebook {
  background-position: 0 0;
}

#ucbar .righ a.icon-mono.facebook:hover {
  background-color: #3b5998;
  background-position: 0 -36px;
}

/* twitter */
#ucbar .righ a.icon-mono.twitter {
  background-position: -36px 0;
}

#ucbar .righ a.icon-mono.twitter:hover {
  background-color: #4099ff;
  background-position: -36px -36px;
}

/* google plus */
#ucbar .righ a.icon-mono.googleplus {
  background-position: -72px 0;
}

#ucbar .righ a.icon-mono.googleplus:hover {
  background-color: #d33636;
  background-position: -72px -36px;
}

.background{
	background-image: url("media/poster1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
	display: none;
}

video {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url('./media/poster1.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

.title{
	padding-top: 300px;
	padding-bottom: 350px;
}

.title .title-text{
	width: 100%;
	font-size: 60px;
	color: rgba(255,255,255,0.65);
	text-align: center;
}

.down-arrow{
	width: 100%;
	font-size: 60px;
	text-align: center;
}

.title .down-arrow a{
	color: rgba(255,255,255,0.65);
}

.navbar-primary{
	background-color:rgba(255, 185, 0, 0.78);
}

.navbar a,label {
	color: #ffffff;
}

.navbar a:hover{
	color: #ffb900;
}

.navbar{
	border: none;
}

.gmat-logo{
	color: rgba(255, 145, 0, 0.57);
}

.team-image{
	display: flex;
	justify-content: space-around;
}

.primary-section{
	padding: 20px;
	font-weight: 300;
	text-align: justify;
}

.primary-section p,cite{
	font-size: 18px;
}

.primary-section:nth-of-type(even){
	background-color: rgba(255,255,255,1);
	color: grey;
}

.primary-section:nth-of-type(odd) {
	background-color: rgba(232, 232, 232, 1);
	color: grey;
}

.navbar-brand{
	color: white;
}

.footer{
	display: flex;
	background-color: rgba(232, 232, 232, 1);
}

.footer .copywright{
	padding: 10px;
	text-align: center;
	border-top: 1px solid #ffb900;
	color: grey;
	font-weight: 300;
}

.footer .up-arrow{
	font-size: 40px;
}

.footer .up-arrow a{
	color: rgba(255,255,255,1);
}

.redlotus{
	color: red;
}

.navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-toggle {
	border: 1px solid #ffffff;
}

.referrer-testimonial{
	display: flex;
	align-items: center;
	min-height: 300px;
	justify-content: center;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.carousel-indicators li{
	background-color: rgba(204, 204, 204, 1);
}

.carousel-indicators .active{
	background-color: #ffb900;
}

h3{
	color: #ffb900;
}

h1{
	color: slategrey;
}

img{
	border-radius: 50%;
	border: 7px solid rgb(204,204,204);

}

.contact .social{
	text-align: right;
}

.contact li{
	list-style: none;
}


.contact ul{
	padding: 0px;
}

.contact .address{
	border-left: 1px solid grey;
}

.contact,.footer a{
	color: grey;
	text-decoration: none;
}

.contact a{
	color: grey;
	text-decoration: none;
}

.contact a:hover{
	color: white;
}

.vertical-spacer{
	height: 10px;
}

.address-spacer{
	padding-left: 15px;
}

.horizontal-rule{
	margin-top: 20px;
	border-top: 1px solid #ffb900;
}

.you-tube-video{
	padding-top: 20px;
}

.referrer-testimonial-name {
	font-style: italic;
	font-size: 14px;
	margin-top: 10px;
}

.courses{
	padding-bottom: 50px;
}

.courses .courses-container-wrapper{
	display: flex;
	justify-content: space-around;
}

.courses .courses-container-wrapper .spacer{
	flex: 1;
}

.courses .courses-container .header h3{
	font-weight: 300;
}

.courses .courses-container{
	display: flex;
	flex: 3;
	background-color: white;
	flex-direction: column;
	justify-content: space-between;
}

.courses .courses-container .courses-header{
	border-bottom: 1px solid rgba(232, 232, 232, 1);;
	text-align: center;
	flex: 1;
}

.courses .courses-container .courses-body{
	padding: 10px;
	display: flex;
	text-align: left;
	justify-content: center;
	align-items: center;
	flex: 5;
	font-size: 18px;
}

.courses .courses-container .courses-footer{
	background-color: rgba(255, 185, 0, 0.78);
	flex:1;
	text-align: center;
}

.courses .courses-container .courses-footer a{
	color: white;
	text-decoration: none;
}

.courses {
	background-color: rgba(0, 0, 0, 0.50) !important;
}

.courses h1{
	color: white !important;
}

@media (max-width: 767px) {
	.contact li{
		text-align: center;
	}
	.contact .address{
		border:none;
	}
    video{
	    display: none;
    }
    .background{
	    display: block;
	    background-image: url("./media/poster2_small.jpg");
    }

	.title{
		padding-top: 175px;
		padding-bottom: 175px;
	}
}

@media (max-width: 991px) {

	.courses .courses-container{
		flex: 1;
		margin-top: 20px;
	}

	.courses .courses-container-wrapper .spacer{
		display: none;
	}

	.courses .courses-container-wrapper{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}

.error-message-row{
	margin-top: 200px;
}

.error-message{
	height: 100px;
	background-color: rgba(255, 185, 0, 0.78);
	color: #fff;
	text-align: center;
	font-size: 40px;
	line-height: 100px;
	border-radius: 5px;
}